@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2ecec;
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 720px) {
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #4b4bd5;
}

.bg-primary {
  background-color: #4b4bd5;
}

.bg-primary-light-2 {
  background-color: #6f6fdd;
}

.bg-primary-light-4 {
  background-color: #9393e6;
}

.bg-primary-light-6 {
  background-color: #b7b7ee;
}

.bg-primary-light-8 {
  background-color: #dbdbf7;
}

.bg-primary-dark-2 {
  background-color: #3c3caa;
}

.text-primary-dark-4 {
  color: #2d2d80;
}

.bg-primary-dark-4 {
  background-color: #2d2d80;
}

.bg-primary-dark-6 {
  background-color: #1e1e55;
}

.bg-primary-dark-8 {
  background-color: #0f0f2b;
}

.text-secondary {
  color: #0c990c;
}

.bg-secondary {
  background-color: #0c990c;
}

.text-error {
  color: #c81d1d;
}

.bg-error {
  background-color: #c81d1d;
}

.text-hover-error-light-1:hover {
  color: #ce3434;
}

.text-info {
  color: #e6e61a;
}

.bg-info {
  background-color: #e6e61a;
}

.text-hover-info-dark-1:hover {
  color: #cfcf17;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.text-sand {
  color: #e6831a;
}

.bg-sand {
  background-color: #e6831a;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 3px solid grey;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card .card-title {
  padding: 0.75rem 0;
  font-size: 1.35rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 0.95rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgb(205, 201, 201);
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #4b4bd5;
}
.btn-primary:hover {
  background-color: #6060da;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 3px solid #4b4bd5;
}
.btn-outlined-primary:hover {
  background-color: #4b4bd5;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #4b4bd5;
  color: #f2f2c7;
}
.btn-complement-primary:hover {
  color: #4b4bd5;
  background-color: #f2f2c7;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #0c990c;
}
.btn-secondary:hover {
  background-color: #0eb10e;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #c81d1d;
}
.btn-error:hover {
  background-color: #de2020;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 3px solid #c81d1d;
}
.btn-outlined-error:hover {
  background-color: #c81d1d;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #c81d1d;
  color: #8fefef;
}
.btn-complement-error:hover {
  color: #c81d1d;
  background-color: #8fefef;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e6e61a;
}
.btn-info:hover {
  background-color: #e9e931;
}

.btn-outlined-sand {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 3px solid #e6831a;
}
.btn-outlined-sand:hover {
  background-color: #e6831a;
}

.navbar .container, .navbar-primary .container, .navbar, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-primary .site-title {
  font-size: 0.95rem;
}
.navbar-primary {
  background-color: #4b4bd5;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.ml-1 {
  margin-left: 20px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 80px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.br {
  border-radius: 20px;
}

.display-f {
  display: flex;
}

.font-sm {
  font-size: 0.55rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 0.95rem;
}

.font-xl {
  font-size: 1.35rem;
}

.font-xxl {
  font-size: 1.95rem;
}

.cursor-p {
  cursor: pointer;
}