// to use math function in sass and to use divide /
@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid grey;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 2);

  .card-title {
    padding: $base-padding 0;
    font-size: $font-size-xl;
    font-weight: bold;
  }

  .card-body {
    font-size: $font-size-lg;

    a {
      text-decoration: underline;
    }
  }
}

// Runs debug after the css for anything
// @debug 'hello';
// @debug math.div(100,4);
// @debug math.floor(3.9);
// @debug math.max(3,6,8,9,5);
