// variables
$primary: #4b4bd5;
$secondary: #0c990c;
$error:#c81d1d;
$info:#e6e61a;

// base margin & padding
$base-margin:20px;
$base-padding:0.75rem;

// width & height
$base-width:300px;
$base-height:100px;

// border
$base-border-thickness: 3px;
$base-border-radius:20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font-size
$base-font-size: 1rem; //16px
$font-size-sm: $base-font-size * 0.55;
$font-size-lg: $base-font-size * 0.95;
$font-size-xl: $base-font-size * 1.35;
$font-size-xxl: $base-font-size * 1.95;