// variables
// default if nothing is stated it use the the defauylt value,$primary : pink then #4b4bd5 wont be used
$primary: #4b4bd5 !default;
$secondary: #0c990c !default;
$error:#c81d1d !default;
$info:#e6e61a !default;

// color palette map
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "white": white,
    "sand": #e6831a
);

.test-btn{
    background-color: map-get($colors,sand)
}

// @debug map-get($colors,sand );
// @debug map-has-key($colors,sand);
// @debug map-remove($colors,sand);
// @debug map-merge($colors,('test':black));

// base margin & padding
$base-margin:20px;
$base-padding:0.75rem;

// width & height
$base-width:300px;
$base-height:100px;

// border
$base-border-thickness: 3px;
$base-border-radius:20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font-size
$base-font-size: 1rem; //16px
$font-size-sm: $base-font-size * 0.55;
$font-size-lg: $base-font-size * 0.95;
$font-size-xl: $base-font-size * 1.35;
$font-size-xxl: $base-font-size * 1.95;